<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="padding: 0px; margin: 0px;width: 100%; height: 100%; background-color: cadetblue;">
    <h1>Hello...</h1>
    <div id="box" style="margin: 0 auto; background-color: blueviolet; border-radius: 50%; width: 200px; height: 200px; display: inline-block;">
    </div>
</body>
<script type="text/javascript">
    // TODO https://stackoverflow.com/questions/2592092/executing-script-elements-inserted-with-innerhtml
    var d = document.getElementById("box");
    d.style.position = "absolute";
    d.style.backgroundColor = "green";
    var x = 100;
    var y = 100;
    setInterval(function() {
        x = x + 100;
        d.style.left = x + "px";
        d.style.top = y + "px";
    }, 1);

    alert();

</script>
</html>